<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
   <h3> product page</h3>

    <h5> book Section</h5>
    <img src="https://shopping.rspb.org.uk/INTERSHOP/static/WFS/RSPB-rspbUK-Site/b2c-responsive/RSPB/en_GB/L/collins-bird-guide-3rd-edition-r423451-1.jpg">
    <p> collins bird guide 3rd edition is a book that incloud all the birds that in the country<p>
    <p> price:3500 shekels<p>
    <a href="/cart"> add to cart</a>
    <h5> nikin p1000</h5>
    <img src="https://camera.co.il/data/images/54003vb.jpg">
    <p> nikon p1000 is a camera that can give you over than 125x zoom at the same time it is cheep<p>  
    <p> price:350 shekels<p>
    <a href="/cart"> add to cart</a>
    <a href="/"> go to the home page</a>
    <a href="/cart"> go to the cart page</a>


</body>
</html>
